ud04/formulario/formulario.xsd

<?xml version="1.0"?>
<!-- Autor: Sasha. Fecha de creación: 2/3/2021
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="personaje">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="infobasica">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="apodo">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="12"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="nombre" type="xs:string"/>
                            <xs:element name="apellidos">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Za-zÑñÁáÉéÍíÓóÚú]* [A-Za-zÑñÁáÉéÍíÓóÚú]*"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="fechanac" type="xs:date"/>
                            <xs:element name="otrosnombres" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="origen">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="La Alianza"/>
                                        <xs:enumeration value="Rebelionistas"/>
                                        <xs:enumeration value="El Anillo"/>
                                        <xs:enumeration value="La Liga"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="idioma" type="xs:language" default="ES"/>
                            <xs:element name="familia" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="parejas" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="pareja" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="idpareja" type="xs:IDREF"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="hijos" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="hijo" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="idhijo" type="xs:IDREF"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="sexo">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="M"/>
                                    <xs:enumeration value="H"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ocupacion">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="trabajo" type="xs:string" maxOccurs="unbounded"/>
                            <xs:element name="estudio" type="xs:string" maxOccurs="unbounded"/>
                            <xs:element name="sinocupacion" type="xs:string" fixed="sin ocupacion"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="otros">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="documentacion">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element name="documentonacional">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="numdoc">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern value="[A-Z]{5}[0-9]"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="docexpedicion" type="xs:date"/>
                                                    <xs:element name="docexpiracion" type="xs:date"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="pasaporte">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="numpasaporte">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern value="[A-Z]{5}[0-9]"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="pasexpedicion" type="xs:date"/>
                                                    <xs:element name="pasexpiracion" type="xs:date"/>
                                                </xs:sequence>
                                                <xs:attribute name="lugar">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="La Alianza"/>
                                                            <xs:enumeration value="Rebelionistas"/>
                                                            <xs:enumeration value="El Anillo"/>
                                                            <xs:enumeration value="La Liga"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="comunicacion">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="tfnos" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="tfno" maxOccurs="unbounded">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:length value="9"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="correos" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="correo" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="tipocorreo">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:enumeration value="personal"/>
                                                                                <xs:enumeration value="empresa"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID"/>
            <xs:attribute name="tipopersonaje">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="protagonista"/>
                        <xs:enumeration value="secundario"/>
                        <xs:enumeration value="terciario"/>
                        <xs:enumeration value="antagonista"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!--
    <xs:attribute name="lugar">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="La Alianza"/>
                <xs:enumeration value="Rebelionistas"/>
                <xs:enumeration value="El Anillo"/>
                <xs:enumeration value="La Liga"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
        -->
</xs:schema>
