ud04/Pruebas/espacionombres/pedido.xsd

<?xml version="1.0"?>
<!-- Autor: Sasha. Fecha de creación: 4/3/2021 -->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.miempresa.com/pedido"
           targetNamespace="http://www.miempresa.com/pedido"
           elementFormDefault="qualified">

    <xs:element name="pedido">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ordenpedido" type="xs:string"/>
                <xs:element name="fecha" type="xs:date"/>
                <xs:element name="id" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
