ud04/08-Schema.xsd

<?xml version="1.0"?>
<!-- Autor: Sasha. Fecha de creación: 18/2/2021 -->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    
    <xs:element name="lugares" type="tipotexto"/>
    <xs:complexType name="tipotexto" mixed="true">
        <xs:sequence>
            <xs:element name="lugar" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
